<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
#head{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.button-container button {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #0074c2;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #005ea6;
}

.button-container button:active {
  background-color: #004b8f;
}
</style>
<body>
<fieldset>
  <div id="head">
    Acessos Para os Sites
  </div>
</fieldset>
<fieldset>
<div class="button-container">
  <div class="button-item" id=" sicaq">
  <button onclick="location.href='https://caixaaqui.caixa.gov.br/caixaaqui/CaixaAquiController'" type="button">
    caixa aqui
  </button>
</div>
    <div class="button-item" id="siopi">
  <button onclick="location.href='https://habitacao.caixa.gov.br/siopiweb-web/siopientrada.do'" type="button">
    siopi
  </button>
</div>
    <div class="button-item" id="cep">
  <button onclick="location.href='https://habitacao.caixa.gov.br/siopiweb-web/siopientrada.do'" type="button">
    Busca cep
  </button>
</div>
    <div class="button-item" id="portal">
  <button onclick="location.href='https://buscacepinter.correios.com.br/app/endereco/index.php'" type="button">
    Portal de Repasse
  </button>
</div>
    <div class="button-item" id="MRV">
  <button onclick="location.href='https://mrvprd-mrvengenhariasa.integration.ocp.oraclecloud.com/ic/builder/rt/CI_Formulario/live/webApps/formulario/?page=shell&shell=main&main=main-caixaentrada'" type="button">
    Portal da MRV
  </button>
</div>
    <div class="button-item" id="simuladorN">
  <button onclick="location.href='https://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso'" type="button">
    Simulador Convencional
  </button>
</div>
    <div class="button-item" id="simuladorP">
  <button onclick="location.href='https://www.portaldeempreendimentos.caixa.gov.br/simulador/'" type="button">
    Simulador de emprendimento
  </button>
</div>
  <div class="button-item" id="gmail">
  <button onclick="location.href='https://mail.google.com/mail/u/2/#inbox'" type="button">
    Gmail
  </button>
</div>
  <div class="button-item" id="Ciweb">
  <button onclick="location.href='https://www.ciweb.caixa.gov.br/sso/'" type="button">
    Ciweb
  </button>
</div>
    <div class="button-item" id="Whats">
  <button onclick="location.href='https://web.whatsapp.com/'" type="button">
    WhatsApp
  </button>
</div>
    <div class="button-item" id="sictd">
  <button onclick="location.href='https://digitalizar.caixa.gov.br/sictd-digitalizar/#/login'" type="button">
    SICTD
  </button>
</div>
    <div class="button-item" id="finan">
  <button onclick="https://www.portaldeempreendimentos.caixa.gov.br/sso/'" type="button">
    Pesquisa Financiamento
  </button>
</div>
    <div class="button-item" id="CPF">
  <button onclick="location.href='https://servicos.receita.fazenda.gov.br/Servicos/CPF/ConsultaSituacao/ConsultaPublica.asp'" type="button">
    CONSULTA CPF
  </button>
</div>
    <div class="button-item" id="ir">
  <button onclick="location.href='https://www.restituicao.receita.fazenda.gov.br/#/'" type="button">
    Consulta IR
  </button>
</div>
    <div class="button-item" id="cnpj">
  <button onclick="location.href='https://solucoes.receita.fazenda.gov.br/Servicos/cnpjreva/Cnpjreva_Solicitacao.asp'" type="button">
    Consulta Cartão CNPJ
  </button>
</div>
    <div class="button-item" id="Registro">
  <button onclick="location.href='http://www.canoasri.com.br/consulta-nota-de-entrega/'" type="button">
    Registro de Imóveis
  </button>
</div>
    <div class="button-item" id="pdf">
  <button onclick="location.href='https://www.ilovepdf.com/ptN'" type="button">
    Ilove PDF
  </button>
</div>
    <div class="button-item" id="anon">
  <button onclick="location.href=' https://calendar.google.com/calendar/u/2/r '" type="button">
    Agenda
  </button>
</div>
  <div class="button-item" id="trans">
  <button onclick="location.href='https://portaldatransparencia.gov.br/'" type="button">
   Portal da Transparencia
  </button>
</div>
    <div class="button-item" id="seguridade">
  <button onclick="location.href='https://login.caixa.gov.br/auth/realms/internet/protocol/openid-connect/auth?response_type=code&client_id=cli-web-gpf-cca&redirect_uri=https%3A%2F%2Fseguridade.redeparceira.caixa.gov.br%2Fsigpf_internet%2F&state=3f94aa0f-d6cf-4d90-b2b4-25a750e36894&login=true&scope=openid'" type="button">
   Seguridade
  </button>
</div>
    <div class="button-item" id="drive">
  <button onclick="location.href='https://drive.google.com/drive/u/2/my-drive'" type="button">
   Drive
  </button>
</div>
    <div class="button-item" id="crf">
  <button onclick="location.href='https://habitacao.caixa.gov.br/siopiweb-web/siopientrada.do'" type="button">
   Pesquisa CRF
  </button>
</div>
    <div class="button-item" id="ia">
  <button onclick="window.open('https://habitacao.caixa.gov.br/siopiweb-web/siopientrada.do', '_blank');" type="button">
    Melhoramento de imagem com Inteligencia Artificial
  </button>
</div>
    <div class="button-item" id="back">
  <button onclick="location.href='http://127.0.0.1:5000/'" type="button">
   voltar
  </button>
</div>
</fieldset>
</body>
<script>

</script>
</html>